@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

:root {
    --bg-color: grey;
    --g-selected-text: #14fe17;
    --g-non-selected-text: #107c12;
    --b-selected-text: #14cffe;
    --b-non-selected-text: #1789b6;
    --w-selected-text: #ffffff;
    --w-non-selected-text: #ff00c8;

    --y-selected-text: #c02942;
    --y-non-selected-text: #ffffff;
    --content-bg-color: rgba(10, 10, 10, .3);
    --content-bg-color2: rgba(10, 10, 10, .8);
}

* {
    margin: 0;
    padding: 0;

}

li {
    list-style: none;
}

body {
    font-family: 'Teko', sans-serif;
    background-color: var(--bg-color);
    color: var(--y-non-selected-text);
    overflow: hidden;
}

body::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 15000;
    top: 0;
    background-size: 4px;
    pointer-events: none;
    background:
        repeating-linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.4) 1px,
            transparent 1px,
            transparent 2px);
    opacity: .4;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}

a {
    text-decoration: none;
}

/* LOGO */

#logo-text {
    height: 70px;
    position: relative;
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: 900;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #c02942, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animatelogo 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animatelogo {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}

/* NAVIGATION  */
.nav-bar ul {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;

}

.nav-bar li {

    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    justify-content: center;
    justify-items: center;
    padding: 0px 40px;
    margin: 15px 0px;
    font-size: 40px;
    color: var(--y-non-selected-text);
    cursor: pointer;

}

.nav-bar li:hover {
    color: var(--y-selected-text);

}

/* Home */

.content-card {

    border-left: 3px solid var(--y-selected-text);
    border-right: 3px solid var(--y-selected-text);
    width: 70%;
    position: absolute;
    left: 17%;
    top: 150px;
}

.content-card::before {
    content: ' ';
    position: absolute;
    display: block;
    z-index: 100;
    background: var(--y-selected-text);
    top: 0px;
    left: 0px;
}

.content-card::after {
    content: ' ';
    position: absolute;
    display: block;
    z-index: 100;
    background: var(--y-selected-text);
    top: 0px;
    right: 0px;
}

.greetings-title {
    padding: 160px 10px 160px 60px;
    position: relative;
    line-height: 70px;
    text-align: left;
    font-size: 60px;
    letter-spacing: 2px;
    z-index: 1000;
}

.greetings-title span {
    color: var(--y-selected-text);
}

.greetings {
    background: var(--content-bg-color);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.greetings::before {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: .7;
}

/* ABOUT  */
.about-content-card {
    border-left: 3px solid var(--y-selected-text);
    border-right: 3px solid var(--y-selected-text);
    width: 70%;
    position: absolute;
    left: 15%;
    margin-top: 120px;
}

.about-content-card::before {
    content: ' ';
    position: absolute;
    display: block;
    z-index: 100;
    background: var(--y-selected-text);
    top: 0px;
    left: 0px;
}

.about-content-card::after {
    content: ' ';
    position: absolute;
    display: block;
    z-index: 100;
    background: var(--y-selected-text);
    top: 0px;
    right: 0px;
}

.about-section {
    background: var(--content-bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.about-section::before {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: -1;
}

.about-content {
    padding: 10px 10px 30px 60px;
    z-index: 100;
}

.about-title h1 {
    font-size: 60px;
}

.about-text p {
    font-size: 25px;
    letter-spacing: 1px;
}

.about-text i {
    font-size: 30px;
}

/* WORK  */

.work-content-card {
    border-left: 3px solid var(--y-selected-text);
    border-right: 3px solid var(--y-selected-text);
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 130px;
}

.work-content-card::after {
    content: ' ';
    position: absolute;
    display: block;
    z-index: 100;
    background: var(--y-selected-text);
    top: 0px;
    right: 0px;
}

.work-gallery {
    background: var(--content-bg-color2);
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: space-evenly;
}

.work-project-card {
    display: grid;

}

.work-project-card-title {
    font-size: 30px;
    padding: 20px 0 10px 0;
    letter-spacing: 1px;
    font-weight: 100;
    color: white;
    cursor: pointer;
}

.workPic {
    width: 300px;
    height: 150px;
}


.button-project {
    border: 1px solid var(--y-selected-text);
    display: inline-block;
    margin-top: 10px;
    padding: 10px 40px;
    letter-spacing: 1px;
    cursor: pointer;
    color: var(--y-non-selected-text);
}

.button-project:hover {
    background-color: var(--y-selected-text);
    color: var(--y-non-selected-text);
    transition: all 1.5s;
}

/* SKILLS  */

.skills-content-card {
    border-left: 3px solid var(--y-selected-text);
    border-right: 3px solid var(--y-selected-text);
    width: 70%;
    position: absolute;
    left: 17%;
    top: 150px;
}

.skills-content-card::before {
    content: ' ';
    position: absolute;
    display: block;
    z-index: 100;
    background: var(--y-selected-text);
    top: 0px;
    left: 0px;
}

.skills-content-card::after {

    content: ' ';
    position: absolute;
    display: block;
    z-index: 100;
    background: var(--y-selected-text);
    top: 0px;
    right: 0px;
}

.skills-content {
    background: var(--content-bg-color2);
    padding: 160px 0px 160px 50px;
    letter-spacing: 1px;
}

.skills-title h1 {
    font-size: 60px;
}

.skills-text {
    font-size: 25px;
}

.skill-with-bar {
    display: flex;
    align-items: center;
}

/* TOOLTIP */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: var(--content-bg-color2);
    color: var(--w-selected-text);
    text-align: center;
    border-top: 2px solid var(--y-selected-text);
    border-bottom: 2px solid var(--y-selected-text);
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 100px;
    margin-left: -60px;
    font-size: 17px;

}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* PROGRESS BAR*/

.wrapper {
    width: 200px;
    margin-left: 12px;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
    display: block;
    height: 10px;
    background-color: var(--y-selected-text);
    border-radius: 3px;

    transition: width 500ms ease-in-out;
}

/* Form */
.center {
    position: relative;
    padding: 50px 50px;
    border-radius: 10px;
    width: 500px;
}

.center h1 {
    font-size: 2em;
    border-left: 5px solid var(--y-selected-text);
    padding: 10px;
    color: #fff;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
}

.center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
}

.center .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #fff;
    color: #fff;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.center .inputbox:last-child {
    margin-bottom: 0;
}

.center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
}

.center .inputbox input:focus~span,
.center .inputbox input:valid~span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}

.center button {
    font-size: 1.2em;
    width: 65%;
    background: var(--y-selected-text);
    color: #fff;
    border: #fff;
    padding: 10px;
    border-radius: 10px;
}


@media screen and (max-width: 1390px) {
    #logo-text {
        display: none;
    }

    .content-card {
        top: 90px;
        height: 500px;
    }

    .greetings-title {
        font-size: 45px;
    }

    .about-content {
        height: 450px;
        overflow-Y: scroll;
    }

    .about-content-card {
        margin-top: 90px;

    }

    .work-gallery {
        overflow-y: scroll;
        height: 400px;

    }

    .work-content-card {
        margin-top: 90px;
    }

    .skills-content {
        top: 100px;
        padding: 60px 0 60px 100px;
    }

}




@media screen and (max-width: 1200px) {
    #logo-text {
        display: none;
    }

    .content-card {
        top: 120px;
    }

    .greetings-title {
        font-size: 45px;
        line-height: 55px;
    }

    .about-content-card {
        margin-top: 120px;
    }

    .about-content {
        overflow-y: scroll;
        height: 550px;
    }

    .work-gallery {
        overflow-y: scroll;
        height: 500px;
    }


}






@media screen and (max-width: 1015px) {
    #logo-text {
        display: none;
    }

    .about-content {
        overflow-y: scroll;
        height: 550px;
    }

    .work-gallery {
        overflow-y: scroll;
        height: 500px;
    }

}

@media screen and (max-width: 786px) {
    #logo-text {
        display: none;
    }

    .about-content {
        overflow-y: scroll;
        height: 300px;
    }

    .work-gallery {
        overflow-y: scroll;
        height: 500px;
    }

}

@media screen and (max-width: 660px) {
    #logo-text {
        display: none;
    }

    .about-content {
        overflow-y: scroll;
        height: 200px;
    }

    .work-gallery {
        overflow-y: scroll;
        height: 500px;
    }

    .nav-bar li {
        padding: 0 20px;
    }

}

@media screen and (max-width: 400px) {
    #logo-text {
        display: none;
    }

    .about-content {
        overflow-y: scroll;
        height: 450px;
        padding: 10px;
    }

    .work-gallery {
        overflow-y: scroll;
        height: 350px;

    }

    .nav-bar li {
        padding: 0;
        font-size: 12px;

    }

    .skills-text {
        font-size: 13px;
    }

    .skills-content {
        padding: 20px 0 20px 20px;
    }

    .greetings-title {
        padding: 50px 10px 50px 10px;
    }

    .content-card {
        top: 60px;
    }

    .about-content-card {
        top: 10px;
    }

    .work-content-card {
        top: 30px;
    }



}